Repository munich-quantum-toolkit/qmap, pull requests merged in 2024-08, with the labels that each got.

#496 Fix Qubit out of Bounds Error
  cmake/ExternalDependencies.cmake
  include/na/NAGraphAlgorithms.hpp
  src/na/Architecture.cpp
  src/na/NAGraphAlgorithms.cpp
  src/na/NAMapper.cpp
  test/na/test_architecture.cpp
  test/na/test_nagraphalgorithms.cpp
  test/na/test_namapper.cpp
Labels: c++, fix

#498 ✨ Python 3.13 Support
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  cmake/ExternalDependencies.cmake
  noxfile.py
  pyproject.toml
  src/python/bindings.cpp
Labels: feature, python, packaging, minor

#502 ⬆️🪝 update pre-commit config
  .pre-commit-config.yaml
  include/Architecture.hpp
  include/na/NAGraphAlgorithms.hpp
  include/utils.hpp
  pyproject.toml
  src/Architecture.cpp
  src/mqt/qmap/subarchitectures.py
  src/na/NAGraphAlgorithms.cpp
  src/utils.cpp
  test/hybridmap/test_hybridmap.cpp
  test/na/test_architecture.cpp
  test/test_exact.cpp
  test/test_general.cpp
  test/test_heuristic.cpp
Labels: dependencies, continuous integration, code quality

#504 ⬆️ update mqt-workflows to v1.3 (moving tag)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/update-mqt-core.yml
  pyproject.toml
Labels: dependencies, github_actions, continuous integration

#503 ⬆️ update to scikit-build-core 0.10
  noxfile.py
  pyproject.toml
Labels: dependencies, python, packaging

#507 ⬆️ update mqt-core and adapt to changes
  cmake/ExternalDependencies.cmake
  docs/source/conf.py
  include/Architecture.hpp
  include/DataLogger.hpp
  include/Mapper.hpp
  include/cliffordsynthesis/CliffordSynthesizer.hpp
  include/cliffordsynthesis/Results.hpp
  include/cliffordsynthesis/Tableau.hpp
  include/cliffordsynthesis/encoding/GateEncoder.hpp
  include/cliffordsynthesis/encoding/ObjectiveEncoder.hpp
  include/cliffordsynthesis/encoding/TableauEncoder.hpp
  include/hybridmap/HardwareQubits.hpp
  include/hybridmap/HybridAnimation.hpp
  include/hybridmap/HybridNeutralAtomMapper.hpp
  include/hybridmap/Mapping.hpp
  include/hybridmap/MoveToAodConverter.hpp
  include/hybridmap/NeutralAtomArchitecture.hpp
  include/hybridmap/NeutralAtomScheduler.hpp
  include/hybridmap/NeutralAtomUtils.hpp
  include/na/NAMapper.hpp
  include/utils.hpp
  noxfile.py
  src/CMakeLists.txt
  src/DataLogger.cpp
  src/Mapper.cpp
  src/cliffordsynthesis/CliffordSynthesizer.cpp
  src/cliffordsynthesis/Tableau.cpp
  src/cliffordsynthesis/encoding/GateEncoder.cpp
  src/cliffordsynthesis/encoding/MultiGateEncoder.cpp
  src/cliffordsynthesis/encoding/ObjectiveEncoder.cpp
  src/cliffordsynthesis/encoding/SingleGateEncoder.cpp
  src/cliffordsynthesis/encoding/TableauEncoder.cpp
  src/exact/ExactMapper.cpp
  src/heuristic/HeuristicMapper.cpp
  src/hybridmap/HybridAnimation.cpp
  src/hybridmap/HybridNeutralAtomMapper.cpp
  src/hybridmap/MoveToAodConverter.cpp
  src/hybridmap/NeutralAtomArchitecture.cpp
  src/hybridmap/NeutralAtomLayer.cpp
  src/hybridmap/NeutralAtomScheduler.cpp
  src/na/Architecture.cpp
  src/na/CMakeLists.txt
  src/na/NAMapper.cpp
  test/cliffordsynthesis/test_synthesis.cpp
  test/hybridmap/test_hybridmap.cpp
  test/na/test_architecture.cpp
  test/na/test_nagraphalgorithms.cpp
  test/na/test_namapper.cpp
  test/test_architecture.cpp
  test/test_encodings.cpp
  test/test_exact.cpp
  test/test_heuristic.cpp
  test/test_tableau.cpp
Labels: dependencies, c++
