Repository munich-quantum-toolkit/qmap, pull requests merged in 2024-06, with the labels that each got.

#469 💚 Resolve irregularly failing tests
  src/na/NAGraphAlgorithms.cpp
  src/na/NAMapper.cpp
  test/na/test_namapper.cpp
Labels: bug, c++, continuous integration, fix

#471 🚸 Improved usability for `FindZ3.cmake`
  cmake/FindZ3.cmake
Labels: dependencies, usability, c++

#474 Keep na arch alive 2
  src/python/bindings.cpp
  test/python/test_hybridmap.py
Labels: python, fix

#475 ⚡🔧 Faster cibuildwheel and better Windows wheel repair
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  pyproject.toml
Labels: dependencies, github_actions, continuous integration

#480 🎨 Code format and linting config update
  .clang-tidy
  .editorconfig
  .git_archival.txt
  .gitignore
Labels: code quality

#479 ⬆️ update mqt-workflows to 1.1.1
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/update-mqt-core.yml
Labels: dependencies, github_actions, continuous integration

#482 🚸 add configurable repo owner for mqt-core dependency
  cmake/ExternalDependencies.cmake
Labels: dependencies, usability, c++

#484 📝 Update Publications
  README.md
  docs/source/Publications.rst
  docs/source/refs.bib
Labels: documentation
