Repository munich-quantum-toolkit/qmap, pull requests merged in 2024-05, with the labels that each got.

#450 📝 Improve and Update documentation
  LICENSE.md
  README.md
  docs/source/conf.py
Labels: documentation

#451 🍱 MQT branding
  README.md
  docs/source/_static/erc_dark.svg
  docs/source/_static/erc_light.svg
  docs/source/_static/logo-bavaria.svg
  docs/source/_static/logo-mqv.svg
  docs/source/_static/tum_dark.svg
  docs/source/_static/tum_light.svg
  docs/source/_templates/page.html
  docs/source/index.rst
Labels: documentation

#456 🧱 switch to dedicated reusable MQT workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  pyproject.toml
Labels: dependencies, github_actions, continuous integration

#457 📦 smaller Python wheels
  pyproject.toml
  src/python/CMakeLists.txt
Labels: python, packaging

#460 ⬆️ update black version in blacken-docs
  .pre-commit-config.yaml
Labels: dependencies, continuous integration

#461 ⬆️ update to `mqt-workflows==1.0.1`
  .github/codecov.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: dependencies, github_actions, continuous integration
